body {
    background-color: black;
}
h1, h2, h3 {
    color: #CBC3E3;
}
p, li, footer {
    color: #CBC3E3;
}
a {
    color: #FFFFFF;
}
#post2tag p {
    color: orange;
}
.post2class {
    color: yellow;
}
